@use "../utilities/variables" as *;

// FOOTER
.footer {

    width: 23%;
    padding: 215px 115px;

    background-color: $color-negro;
    color: $color-blanco;

    text-align: start;

    font-size: $texto-pequeno;
    letter-spacing: 1px;

    p {
        margin: 0;
    }
}
