@use "../utilities/variables" as *;

.footer {
    width: 100%;

    background-color: $color-negro;
    color: $color-blanco;

    padding: 25px 15px;

    text-align: center;

    font-size: $texto-pequeno;
    letter-spacing: 1px;

    p {
        margin: 0;
    }
}