@use "../utilities/variables" as *;

// FOOTER
.footer {
    width: 100%;
    padding: 25px 15px;

    background-color: $color-negro;
    color: $color-blanco;

    text-align: center;

    font-size: $texto-pequeno;
    letter-spacing: 1px;

    p {
        margin: 0;
    }
}