@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;


// CAROUSEL

.carousel-aimazing {
    width: 100%;
    overflow: hidden;

    // IMAGEN

    .carousel-item {
        width: 100%;
        height: 100px;

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            object-position: center;
        }
    }

    // INDICADORES

    .carousel-indicators {
        margin-bottom: 15px;

        button {
            width: 8px;
            height: 8px;
            border-radius: 50%;

            transition: transform $transicion-rapida;

            &:hover {
                transform: scale(1.3);
            }
        }
    }

    // BOTONES LATERALES

    .carousel-control-prev,
    .carousel-control-next {
        transition:
            opacity $transicion-rapida,
            transform $transicion-rapida;
    }

    .carousel-control-prev {
        &:hover {
            transform: translateX(-5px);
        }
    }

    .carousel-control-next {
        &:hover {
            transform: translateX(5px);
        }
    }
}

// TABLET

@include tablet {

    .carousel-aimazing {

        .carousel-item {
            height: 400px;
        }
    }
}


// DESKTOP

@include desktop {

    .carousel-aimazing {

        .carousel-item {
            height: 500px;
        }
    }
}
